## INSTALACIONES

In [5]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
!pip install sqlalchemy psycopg2-binary pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python312\site-packages (2.2.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------- -------------------- 1.0/2.1 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 7.0 MB/s eta 0:00:00
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 2.7/2.7 MB 22.5 MB/s eta 0:00:00
Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl (299 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.2.4 psycopg2-binary-2.9.11 sqlalchemy-2.0.44 typing-extensions-4.15.0

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

## IMPORTACIONES

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

##### configuramos la conexion

In [25]:
engine = create_engine(
    "postgresql://serguio.quintanilla:YTt5J89ZiZ5YSBw0x2mYYBLsIeK4ie5w@192.168.3.102:5435/DOM_Local2"
)

In [4]:
# Read CSV file into DataFrame
df = pd.read_csv('../data/actividades(Hoja1).csv')

### Funciones de procesamiento de data

In [3]:
##funcion para convertir todo a int
def convertir_int(df: pd.DataFrame, columna: str) -> pd.DataFrame:
    df[columna] = (
        pd.to_numeric(df[columna], errors='coerce')
        .fillna(0)  
        .astype(int) 
    )
    return df

## funcion para agregarle el valor de true todas las filas de enabl e is_active
def agregar_columnas(df: pd.DataFrame) -> pd.DataFrame:
    df['enabled'] = True
    df['is_active'] = True
    df['created_by'] = 1
    df['updated_by'] = 1
    df['created_at'] = datetime.now()
    df['updated_at'] = datetime.now()
    return df

## funcion para insertar data en la base de datos
def insert_data(table_name: str, data: pd.DataFrame, schema: str = 'public'):
    data.to_sql(
        name=table_name,
        con=engine,
        schema=schema,
        if_exists='append',
        index=False
    )

In [6]:
#elimnando filas con codigo nulo
df = df.dropna(subset=["Codigo"])

In [7]:
df = convertir_int(df, "Codigo")
df = agregar_columnas(df)
df['description'] = ""

In [8]:
df.count()

Codigo                  773
Actividad economica.    773
enabled                 773
is_active               773
created_by              773
updated_by              773
created_at              773
updated_at              773
description             773
dtype: int64

#### cambiar nombres de las columas

In [9]:
df = df.rename(columns={
    "Codigo": "code",
    "Actividad economica.": "name",
})

### revisamos la data antes de insertar

In [10]:
df.head()

,code,name,enabled,is_active,created_by,updated_by,created_at,updated_at,description
0,1111,Cultivo de cereales excepto arroz y para forrajes,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
1,1112,Cultivo de legumbres,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
2,1113,Cultivo de semillas oleaginosas,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
3,1114,Cultivo de plantas para la preparación de semi...,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
4,1119,Cultivo de otros cereales excepto arroz y forr...,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,

## INSERTAMOS LA DATA

In [12]:
insert_data('commercial_activity', df, schema='Finance')

### DATOS DE PAISES

In [4]:
states = pd.read_csv('../data/countries/departamentos(Hoja1).csv', sep=';', encoding='utf-8')
territories = pd.read_csv('../data/countries/municipios(Hoja1).csv', sep=';', encoding='utf-8')
countries = pd.read_csv('../data/countries/countries(Hoja1).csv', sep=';', encoding='utf-8')

In [13]:
countries.count()
df_empty = countries[countries['Codigo'].isna()]
df_empty

    Codigo     Pais
157    NaN  Namibia

#### formateador y agragar columnas especificas de la tabla

In [14]:
countries = agregar_columnas(countries)
countries['zero_taxation'] = False
countries['low_taxation'] = False
countries = countries.rename(columns={
    "Codigo": "code",
    "Pais": "name",
})

In [15]:
countries.head(2)

,code,name,enabled,is_active,created_by,updated_by,created_at,updated_at,zero_taxation,low_taxation
0,AF,Afganistán,True,True,1,1,2025-10-23 16:37:28.209311,2025-10-23 16:37:28.209914,False,False
1,AX,Aland,True,True,1,1,2025-10-23 16:37:28.209311,2025-10-23 16:37:28.209914,False,False

In [16]:
insert_data('country', countries, schema='Finance')

### Datos de states

In [17]:
states = agregar_columnas(states)
states['zero_taxation'] = False
states['low_taxation'] = False
states['country_id'] = 61
states = states.rename(columns={
    "codigo": "code",
    "nombre": "name",
})
states.drop(columns=["code"], inplace=True)
states.head(2)

,name,enabled,is_active,created_by,updated_by,created_at,updated_at,zero_taxation,low_taxation,country_id
0,OTRO (PARA EXTRANJEROS),True,True,1,1,2025-10-23 16:38:15.038133,2025-10-23 16:38:15.038637,False,False,61
1,AHUACHAPÁN,True,True,1,1,2025-10-23 16:38:15.038133,2025-10-23 16:38:15.038637,False,False,61

In [18]:
insert_data('state', states, schema='Finance')

### municipios o territorios

In [5]:
territories = agregar_columnas(territories)
territories['zero_taxation'] = False
territories['low_taxation'] = False
territories['state_id'] = territories['departamento'] + 1
territories = territories.rename(columns={
    "codigo": "code",
    "nombre": "name",
})
territories.drop(columns=["code"], inplace=True)
territories.drop(columns=["departamento"], inplace=True)

territories.head(2)

,name,enabled,is_active,created_by,updated_by,created_at,updated_at,zero_taxation,low_taxation,state_id
0,Otro (Para extranjeros),True,True,1,1,2025-10-29 15:51:57.539365,2025-10-29 15:51:57.547530,False,False,1
1,AHUACHAPAN NORTE,True,True,1,1,2025-10-29 15:51:57.539365,2025-10-29 15:51:57.547530,False,False,2

In [20]:
insert_data('territory', territories, schema='Finance')

### OTROS CATALOGOS A SUBIR

In [21]:
##TANTO A ECONOMIC_LEVEL_TYPE COMO A BUDGET_LEVEL_TYPE
budget_level_type = pd.read_csv('../data/tipos/typeBudget.csv', sep=';', encoding='utf-8')

In [22]:
budget_level_type.head()
budget_level_type = agregar_columnas(budget_level_type)
budget_level_type.head(2)

,name,enabled,is_active,created_by,updated_by,created_at,updated_at
0,Rubro,True,True,1,1,2025-10-23 16:39:17.804774,2025-10-23 16:39:17.805166
1,Cuenta,True,True,1,1,2025-10-23 16:39:17.804774,2025-10-23 16:39:17.805166

In [25]:
insert_data('economic_level_type', budget_level_type, schema='Finance')

### CATALOGOS DE CONTABILIDA

In [26]:
chart_account = pd.read_csv('../data/tipos/chart_account(Hoja1).csv', sep=';', encoding='utf-8')
budget_clasification = pd.read_csv('../data/tipos/budget_classification(Hoja1).csv', sep=';', encoding='utf-8')
economic_classification = pd.read_csv('../data/tipos/economic_classification(Hoja1).csv', sep=',', encoding='utf-8')

In [27]:
budget_clasification.head()

,code,name,description
0,11,IMPUESTOS,Incluye los ingresos originados en la potestad...
1,111,Impuesto Sobre la Renta,Comprende los tributos provenientes de...
2,11101,De Personas Naturales Asalariadas,Comprende el impuesto sobre los ingresos obten...
3,11102,De personas Naturales no Asalariadas,Comprende el impuesto sobre los ingresos obten...
4,11103,De Personas Jurídicas,Comprende el impuesto sobre el producto o util...

### MAS FUNCIONES PARA PROCESAMIENTO DE CUENTAS CONTABLES

In [40]:
##FUNCION PARA AGREGR EL TIPO DE BUDGET LEVEL TYPE
def asignar_budget_level_type(df: pd.DataFrame, name_col) -> pd.DataFrame:
    def obtener_budget_level_type(code: str) -> int:
        longitud = len(code)
        if longitud == 2:
            return 1  
        elif longitud == 3:
            return 2  
        elif longitud >= 4:
            return 3  
        else:
            return None  
    df[name_col] = df['code'].astype(str).apply(obtener_budget_level_type)
    return df

    
#funcion para calcular la cuenta padre
def calcular_cuenta_padre(df:pd.DataFrame, flag:str) -> pd.DataFrame:
    df = df.reset_index(drop=True)
    df['id_temporal'] = df.index + 1
    df['longitud'] = df['code'].apply(lambda x: len(str(x)))

    if flag == 'budget':
        df['parent_id'] = df['code'].apply(lambda x: procesar_cuenta_budget(x, df))
    else:
        df['parent_id'] = df['code'].apply(lambda x: procesar_cuenta_economic(x, df))
    return df


def agregar_economic_transaction_type_id(df: pd.DataFrame, namecol: str) -> pd.DataFrame:
    def obtener_economic_transaction_type_id(code: str) -> int:
        code_str = str(code)
 
        if code_str.startswith(('5', '6', '7', '8', '2')):
            return 2
        else:
            return 1 

    df[namecol] = df['code'].astype(str).apply(obtener_economic_transaction_type_id)
    return df

    


def procesar_cuenta_economic(x, df):
    x_str = str(x)
    if not x_str.isdigit():
        return 0 

    longitud = len(x_str)
    if longitud == 1:
        return 0
    else:
        cuenta_padre_code = x_str[:-1]
        if cuenta_padre_code == "":
            return 0 

        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    
    
    
def procesar_cuenta_budget(x, df):
    x_str = str(x)
    if not x_str.isdigit():
        return 0 

    longitud = len(x_str)
    if longitud == 2:
        return 0
    if longitud == 3:
        cuenta_padre_code = x_str[:-1]
        if cuenta_padre_code == "":
            return 0 

        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    if longitud == 5:
        cuenta_padre_code = x_str[:-2]
        if cuenta_padre_code == "":
            return 0 

        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    if longitud == 7:
        cuenta_padre_code = x_str[:-4]
        digitos_evaluar = x_str[-2:]
        if cuenta_padre_code == "":
            return 0
        if digitos_evaluar != '00':
            cuenta_padre_code = x_str[:-2] +'00'
            
        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    else:
        return 0

##### lIMPORTAR LA DATA DEL CLASIFICADOR ECONOMICO

In [44]:
economic_classification = asignar_budget_level_type(economic_classification, 'economic_level_type_id')
convertir_int(economic_classification, "economic_level_type_id")
economic_classification = calcular_cuenta_padre(economic_classification, 'economic')
economic_classification = agregar_economic_transaction_type_id(economic_classification, 'economic_transaction_type_id')
economic_classification['economic_transactional'] = True
economic_classification = agregar_columnas(economic_classification)

#eliminado columna innecesarias
economic_classification.drop(columns=["id_temporal"], inplace=True)
economic_classification.drop(columns=["longitud"], inplace=True)

#remplazando los valores nulos en parent_id por null
economic_classification['economic_level_type_id'] = economic_classification['economic_level_type_id'].replace(0, pd.NA)
economic_classification['parent_id'] = economic_classification['parent_id'].replace(0, pd.NA)

economic_classification.head(70)

,code,name,description,economic_level_type_id,parent_id,economic_transaction_type_id,economic_transactional,enabled,is_active,created_by,updated_by,created_at,updated_at
0,1,INGRESOS,NaN,<NA>,<NA>,1,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
1,11,Ingresos Corrientes,Comprende la totalidad de las rentas ordinaria...,1,1,1,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
2,111,Ingresos Tributarios,Los Ingresos Tributarios son los que provienen...,2,2,1,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
3,1111,Impuestos Directos,NaN,3,3,1,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
4,1112,Impuestos Indirectos,NaN,3,3,1,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2211,Bienes Muebles,NaN,3,65,2,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
66,2212,Bienes Inmuebles,NaN,3,65,2,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
67,2213,Intangibles,NaN,3,65,2,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
68,2214,Infraestructura,NaN,3,65,2,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144
69,2215,Crédito Fiscal,NaN,3,65,2,True,True,True,1,1,2025-10-30 10:50:37.028935,2025-10-30 10:50:37.029144

In [45]:
insert_data('economic_classification', economic_classification, schema='Finance')

### CLASIFICADOR PRESUPUESTARRIO

In [33]:
budget_clasification = asignar_budget_level_type(budget_clasification, 'budget_level_type_id')
budget_clasification = calcular_cuenta_padre(budget_clasification, 'budget')
agregar_economic_transaction_type_id(budget_clasification, 'economic_transaction_type_id')
budget_clasification['portfolio_code'] = False
budget_clasification['economic_classification_id'] = 1
budget_clasification = agregar_columnas(budget_clasification)

#eliminado columna innecesarias
budget_clasification.drop(columns=["id_temporal"], inplace=True)
budget_clasification.drop(columns=["longitud"], inplace=True)
budget_clasification['parent_id'] = budget_clasification['parent_id'].replace(0, pd.NA)

In [46]:
budget_clasification.head(2)

,code,name,description,budget_level_type_id,parent_id,economic_transaction_type_id,portfolio_code,enabled,is_active,created_by,updated_by,created_at,updated_at,economic_classification_id
0,11,IMPUESTOS,Incluye los ingresos originados en la potestad...,1,<NA>,1,False,True,True,1,1,2025-10-30 10:19:38.844651,2025-10-30 10:19:38.844852,1
1,111,Impuesto Sobre la Renta,Comprende los tributos provenientes de...,2,1,1,False,True,True,1,1,2025-10-30 10:19:38.844651,2025-10-30 10:19:38.844852,1

In [47]:
insert_data('budget_classification', budget_clasification, schema='Finance')

In [24]:
# 1) Rápido: conteo por valor (serie ordenada)
counts = budget_clasification['economic_transaction_type_id'].value_counts()
counts

economic_transaction_type_id
1    574
2    307
Name: count, dtype: int64

In [ ]:
result = budget_clasification.loc[
    budget_clasification["id_temporal"].between(570, 875)
]

budget_clasification.loc[
    budget_clasification["id_temporal"].between(570, 875),
    "estado"
] = "Actualizado"

In [20]:
result

,code,name,description,budget_level_type_id,id_temporal,longitud,parent_id
569,51,REMUNERACIONES,Incluye las retribuciones al personal del Esta...,1,570,2,0
570,511,Remuneraciones Permanentes,Comprende los gastos por las retribuciones al ...,2,571,3,0
571,51101,Sueldos,Comprende las remuneraciones al personal que p...,3,572,5,0
572,51102,Salarios por Jornal,Comprende las remuneraciones al personal que p...,3,573,5,0
573,51103,Aguinaldos,Comprende la compensación adicional a favor de...,3,574,5,0
...,...,...,...,...,...,...,...
870,81103,Al Fondo Solidario para la Salud,Comprende los aportes destinados a cubrir los ...,3,871,5,0
871,81104,A la Corporación Salvadoreña de Turismo,Comprende los aportes destinados a cubrir los ...,3,872,5,0
872,81105,A Transporte - Estabilización de las Tarifas d...,Comprende los aportes destinados a garantizar ...,3,873,5,0
873,81106,Al Fondo para la Atención a Víctimas de Accide...,Comprende los aportes que se transfieren al FO...,3,874,5,0
874,81107,Al Ministerio de Salud para la Atención a Víct...,Comprende los aportes que se transfieren al Mi...,3,875,5,0