## INSTALACIONES

In [5]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\medicpro-5\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
!pip install sqlalchemy psycopg2-binary pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python312\site-packages (2.2.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------- -------------------- 1.0/2.1 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 7.0 MB/s eta 0:00:00
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 2.7/2.7 MB 22.5 MB/s eta 0:00:00
Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl (299 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.2.4 psycopg2-binary-2.9.11 sqlalchemy-2.0.44 typing-extensions-4.15.0

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

## IMPORTACIONES

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

##### configuramos la conexion

In [2]:
engine = create_engine(
    "postgresql://serguio.quintanilla:YTt5J89ZiZ5YSBw0x2mYYBLsIeK4ie5w@192.168.3.102:5435/DOM_Local2"
)

In [4]:
# Read CSV file into DataFrame
df = pd.read_csv('../data/actividades(Hoja1).csv')

### Funciones de procesamiento de data

In [4]:
##funcion para convertir todo a int
def convertir_int(df: pd.DataFrame, columna: str) -> pd.DataFrame:
    df[columna] = (
        pd.to_numeric(df[columna], errors='coerce')
        .fillna(0)  
        .astype(int) 
    )
    return df

## funcion para agregarle el valor de true todas las filas de enabl e is_active
def agregar_columnas(df: pd.DataFrame) -> pd.DataFrame:
    df['enabled'] = True
    df['is_active'] = True
    df['created_by'] = 1
    df['updated_by'] = 1
    df['created_at'] = datetime.now()
    df['updated_at'] = datetime.now()
    return df

## funcion para insertar data en la base de datos
def insert_data(table_name: str, data: pd.DataFrame, schema: str = 'public'):
    data.to_sql(
        name=table_name,
        con=engine,
        schema=schema,
        if_exists='append',
        index=False
    )

In [6]:
#elimnando filas con codigo nulo
df = df.dropna(subset=["Codigo"])

In [7]:
df = convertir_int(df, "Codigo")
df = agregar_columnas(df)
df['description'] = ""

In [8]:
df.count()

Codigo                  773
Actividad economica.    773
enabled                 773
is_active               773
created_by              773
updated_by              773
created_at              773
updated_at              773
description             773
dtype: int64

#### cambiar nombres de las columas

In [9]:
df = df.rename(columns={
    "Codigo": "code",
    "Actividad economica.": "name",
})

### revisamos la data antes de insertar

In [10]:
df.head()

,code,name,enabled,is_active,created_by,updated_by,created_at,updated_at,description
0,1111,Cultivo de cereales excepto arroz y para forrajes,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
1,1112,Cultivo de legumbres,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
2,1113,Cultivo de semillas oleaginosas,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
3,1114,Cultivo de plantas para la preparación de semi...,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,
4,1119,Cultivo de otros cereales excepto arroz y forr...,True,True,1,1,2025-10-27 13:33:43.460307,2025-10-27 13:33:43.462799,

## INSERTAMOS LA DATA

In [12]:
insert_data('commercial_activity', df, schema='Finance')

### DATOS DE PAISES

In [4]:
states = pd.read_csv('../data/countries/departamentos(Hoja1).csv', sep=';', encoding='utf-8')
territories = pd.read_csv('../data/countries/municipios(Hoja1).csv', sep=';', encoding='utf-8')
countries = pd.read_csv('../data/countries/countries(Hoja1).csv', sep=';', encoding='utf-8')

In [13]:
countries.count()
df_empty = countries[countries['Codigo'].isna()]
df_empty

    Codigo     Pais
157    NaN  Namibia

#### formateador y agragar columnas especificas de la tabla

In [14]:
countries = agregar_columnas(countries)
countries['zero_taxation'] = False
countries['low_taxation'] = False
countries = countries.rename(columns={
    "Codigo": "code",
    "Pais": "name",
})

In [15]:
countries.head(2)

,code,name,enabled,is_active,created_by,updated_by,created_at,updated_at,zero_taxation,low_taxation
0,AF,Afganistán,True,True,1,1,2025-10-23 16:37:28.209311,2025-10-23 16:37:28.209914,False,False
1,AX,Aland,True,True,1,1,2025-10-23 16:37:28.209311,2025-10-23 16:37:28.209914,False,False

In [16]:
insert_data('country', countries, schema='Finance')

### Datos de states

In [17]:
states = agregar_columnas(states)
states['zero_taxation'] = False
states['low_taxation'] = False
states['country_id'] = 61
states = states.rename(columns={
    "codigo": "code",
    "nombre": "name",
})
states.drop(columns=["code"], inplace=True)
states.head(2)

,name,enabled,is_active,created_by,updated_by,created_at,updated_at,zero_taxation,low_taxation,country_id
0,OTRO (PARA EXTRANJEROS),True,True,1,1,2025-10-23 16:38:15.038133,2025-10-23 16:38:15.038637,False,False,61
1,AHUACHAPÁN,True,True,1,1,2025-10-23 16:38:15.038133,2025-10-23 16:38:15.038637,False,False,61

In [18]:
insert_data('state', states, schema='Finance')

### municipios o territorios

In [5]:
territories = agregar_columnas(territories)
territories['zero_taxation'] = False
territories['low_taxation'] = False
territories['state_id'] = territories['departamento'] + 1
territories = territories.rename(columns={
    "codigo": "code",
    "nombre": "name",
})
territories.drop(columns=["code"], inplace=True)
territories.drop(columns=["departamento"], inplace=True)

territories.head(2)

,name,enabled,is_active,created_by,updated_by,created_at,updated_at,zero_taxation,low_taxation,state_id
0,Otro (Para extranjeros),True,True,1,1,2025-10-29 15:51:57.539365,2025-10-29 15:51:57.547530,False,False,1
1,AHUACHAPAN NORTE,True,True,1,1,2025-10-29 15:51:57.539365,2025-10-29 15:51:57.547530,False,False,2

In [20]:
insert_data('territory', territories, schema='Finance')

### OTROS CATALOGOS A SUBIR

In [21]:
##TANTO A ECONOMIC_LEVEL_TYPE COMO A BUDGET_LEVEL_TYPE
budget_level_type = pd.read_csv('../data/tipos/typeBudget.csv', sep=';', encoding='utf-8')

In [22]:
budget_level_type.head()
budget_level_type = agregar_columnas(budget_level_type)
budget_level_type.head(2)

,name,enabled,is_active,created_by,updated_by,created_at,updated_at
0,Rubro,True,True,1,1,2025-10-23 16:39:17.804774,2025-10-23 16:39:17.805166
1,Cuenta,True,True,1,1,2025-10-23 16:39:17.804774,2025-10-23 16:39:17.805166

In [25]:
insert_data('economic_level_type', budget_level_type, schema='Finance')

### CATALOGOS DE CONTABILIDA

In [7]:
chart_account = pd.read_csv('../data/tipos/chart_account(Hoja1).csv', sep=';', encoding='utf-8')
budget_clasification = pd.read_csv('../data/tipos/budget_classification(Hoja1).csv', sep=';', encoding='utf-8')
economic_classification = pd.read_csv('../data/tipos/economic_classification(Hoja1).csv', sep=',', encoding='utf-8')

In [8]:
chart_account.head()

,CTA_CONT_CENT,CTA_CONT_CENT_PADR,CLAS_PRES_INGR,CLAS_PRES_EGRE,COD_INS_CAR_TRA,NOMB_CTA_CONT_CENT,TIPO_CUEN_CONT,NATURA_SALDO,TIENE_SUBCTA,NIVEL,TIPO_EJEC_PTO_INGR,TIPO_EJEC_PTO_EGRE,TIP_FLU_FDO_DEB,TIP_FLU_FDO_HAB
0,2,NaN,NaN,NaN,NaN,Recursos,A,D,N,1,0,0,0,0
1,21,2.0,NaN,NaN,NaN,Fondos,A,D,S,2,0,0,0,0
2,211,21.0,NaN,NaN,NaN,Disponibilidades,A,D,S,3,0,0,0,0
3,21101,211.0,NaN,NaN,NaN,Caja General,A,D,S,4,0,0,7,7
4,21101001,21101.0,NaN,NaN,NaN,Caja General,A,D,N,5,0,0,7,7

### MAS FUNCIONES PARA PROCESAMIENTO DE CUENTAS CONTABLES

In [15]:
##FUNCION PARA AGREGR EL TIPO DE BUDGET LEVEL TYPE
def asignar_budget_level_type(df: pd.DataFrame, name_col) -> pd.DataFrame:
    def obtener_budget_level_type(code: str) -> int:
        longitud = len(code)
        if longitud == 2:
            return 1  
        elif longitud == 3:
            return 2  
        elif longitud >= 4:
            return 3  
        else:
            return None  
    df[name_col] = df['code'].astype(str).apply(obtener_budget_level_type)
    return df

    
#funcion para calcular la cuenta padre
def calcular_cuenta_padre(df:pd.DataFrame, flag:str) -> pd.DataFrame:
    df = df.reset_index(drop=True)
    df['id_temporal'] = df.index + 1
    df['longitud'] = df['code'].apply(lambda x: len(str(x)))

    if flag == 'budget':
        df['parent_id'] = df['code'].apply(lambda x: procesar_cuenta_budget(x, df))
    elif flag == 'chart_account':
        df['parent_id'] = df['parent_code'].apply(lambda x: procesar_padres_chart_account(x, df))
    else:
        df['parent_id'] = df['code'].apply(lambda x: procesar_cuenta_economic(x, df))
    return df


def agregar_economic_transaction_type_id(df: pd.DataFrame, namecol: str) -> pd.DataFrame:
    def obtener_economic_transaction_type_id(code: str) -> int:
        code_str = str(code)

        if code_str.startswith(('7', '8', '9')):
            return 2  
        if code_str.startswith(('1', '3', '4')):
            return 1  
        elif code_str.startswith(('2', '5', '6')):
            return 2  
        return None

    df[namecol] = df['code'].astype(str).apply(obtener_economic_transaction_type_id)
    return df


def procesar_cuenta_economic(x, df):
    x_str = str(x)
    if not x_str.isdigit():
        return 0 

    longitud = len(x_str)
    if longitud == 1:
        return 0
    else:
        cuenta_padre_code = x_str[:-1]
        if cuenta_padre_code == "":
            return 0 

        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    
##procesar padres de catalogoo de cuentas
def procesar_padres_chart_account(x, df):
	cuanta_padre_code = x
	mascara = df['code'] == int(cuanta_padre_code)
	if mascara.any():
		return df.loc[mascara, 'id_temporal'].iloc[0]
	return 0
    
def procesar_cuenta_budget(x, df):
    x_str = str(x)
    if not x_str.isdigit():
        return 0 

    longitud = len(x_str)
    if longitud == 2:
        return 0
    if longitud == 3:
        cuenta_padre_code = x_str[:-1]
        if cuenta_padre_code == "":
            return 0 

        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    if longitud == 5:
        cuenta_padre_code = x_str[:-2]
        if cuenta_padre_code == "":
            return 0 

        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    if longitud == 7:
        cuenta_padre_code = x_str[:-4]
        digitos_evaluar = x_str[-2:]
        if cuenta_padre_code == "":
            return 0
        if digitos_evaluar != '00':
            cuenta_padre_code = x_str[:-2] +'00'
            
        cuenta_padre_code = int(cuenta_padre_code)
        mascara = df['code'] == cuenta_padre_code
        if mascara.any():
            return df.loc[mascara, 'id_temporal'].iloc[0]
        return 0
    else:
        return 0

##### lIMPORTAR LA DATA DEL CLASIFICADOR ECONOMICO

In [ ]:
economic_classification = asignar_budget_level_type(economic_classification, 'economic_level_type_id')
convertir_int(economic_classification, "economic_level_type_id")
economic_classification = calcular_cuenta_padre(economic_classification, 'economic')
economic_classification = agregar_economic_transaction_type_id(economic_classification, 'economic_transaction_type_id')
economic_classification['economic_transactional'] = True
economic_classification = agregar_columnas(economic_classification)

#eliminado columna innecesarias
economic_classification.drop(columns=["id_temporal"], inplace=True)
economic_classification.drop(columns=["longitud"], inplace=True)

#remplazando los valores nulos en parent_id por null
economic_classification['economic_level_type_id'] = economic_classification['parent_id'].replace(0, pd.NA)
economic_classification['parent_id'] = economic_classification['parent_id'].replace(0, pd.NA)

economic_classification.head(2)

,code,name,description,economic_level_type_id,parent_id,economic_transaction_type_id,economic_transactional,enabled,is_active,created_by,updated_by,created_at,updated_at
0,1,INGRESOS,NaN,<NA>,<NA>,1,True,True,True,1,1,2025-10-29 16:12:52.402584,2025-10-29 16:12:52.402808
1,11,Ingresos Corrientes,Comprende la totalidad de las rentas ordinaria...,1,1,1,True,True,True,1,1,2025-10-29 16:12:52.402584,2025-10-29 16:12:52.402808

In [12]:
insert_data('economic_classification', economic_classification, schema='Finance')

IntegrityError: (psycopg2.errors.UniqueViolation) llave duplicada viola restricción de unicidad «un_economic_classification_code»
DETAIL:  Ya existe la llave (code)=(1).

[SQL: INSERT INTO "Finance".economic_classification (code, name, description) VALUES (%(code__0)s, %(name__0)s, %(description__0)s), (%(code__1)s, %(name__1)s, %(description__1)s), (%(code__2)s, %(name__2)s, %(description__2)s), (%(code__3)s, %(name__3)s,  ... 4236 characters truncated ... (%(code__87)s, %(name__87)s, %(description__87)s), (%(code__88)s, %(name__88)s, %(description__88)s)]
[parameters: {'code__0': 1, 'description__0': None, 'name__0': 'INGRESOS', 'code__1': 11, 'description__1': 'Comprende la totalidad de las rentas ordinarias que se estima recaudar por el pago de impuestos y contribuciones, en concepto de ingresos tributarios, no tributarios, contribuciones a la seguridad social, venta de bienes y servicios, ingresos financieros y otros y transferencias corrientes.', 'name__1': 'Ingresos Corrientes', 'code__2': 111, 'description__2': 'Los Ingresos Tributarios son los que provienen de la potestad soberana que tiene el Estado de imponer tributos y se clasifican en directos e indirect ... (310 characters truncated) ...  y/o comercialización, gravan el consumo de bienes y servicios, las transacciones y operaciones comerciales de los residentes con el resto del mundo.', 'name__2': 'Ingresos Tributarios', 'code__3': 1111, 'description__3': None, 'name__3': 'Impuestos Directos', 'code__4': 1112, 'description__4': None, 'name__4': 'Impuestos Indirectos', 'code__5': 112, 'description__5': 'Los Ingresos no Tributarios constituyen las entradas por tasas y derechos pagados a cambio de bienes o servicios. Las Tasas y Derechos son gravámenes ... (87 characters truncated) ... dos en servicios que se proporcionan a la sociedad, o como consecuencia de la habilitación para ejercer determinadas actividades públicas o privadas.', 'name__5': 'Ingresos no Tributarios', 'code__6': 1121, 'description__6': None, 'name__6': 'Tasas', 'code__7': 1122, 'description__7': None, 'name__7': 'Derechos', 'code__8': 113, 'description__8': 'Son las contribuciones obligatorias de empleados y empleadores en forma proporcional a los salarios pagados, destinadas a las instituciones públicas  ... (12 characters truncated) ... ncargadas de administrar los distintos regímenes de previsión y asistencia social. Incluye los aportes del Estado a los sistemas de seguridad social.', 'name__8': 'Contribuciones a la Seguridad Social', 'code__9': 114, 'description__9': 'Son los ingresos que se originan por la venta de bienes y servicios provenientes del giro comercial, industrial o servicios, producto de la actividad que desarrolla la institución.', 'name__9': 'Venta de Bienes y Servicios', 'code__10': 115, 'description__10': 'Son los recursos que se originan por la propiedad de bienes, sean de capital, títulos, valores o físicos; así como por el producto de diferenciales cambiarios, multas, ingresos de igual naturaleza y otros.', 'name__10': 'Ingresos Financieros y Otros', 'code__11': 1151, 'description__11': None, 'name__11': 'Rendimientos de Títulos y Valores', 'code__12': 1152, 'description__12': None, 'name__12': 'Intereses de Préstamos', 'code__13': 1153, 'description__13': None, 'name__13': 'Intereses por Mora y Multas', 'code__14': 1154, 'description__14': None, 'name__14': 'Arrendamiento de Bienes', 'code__15': 1155, 'description__15': None, 'name__15': 'Garantías y Fianzas', 'code__16': 1156, 'description__16': None ... 167 parameters truncated ... 'description__72': None, 'name__72': 'Inversión En Capital Humano', 'code__73': 223, 'description__73': 'Son los gastos destinados a otorgar aportes al sector interno que no involucran contraprestación de bienes o servicios. Se utilizan para sufragar obligaciones de capital y amortización de deuda de los receptores.', 'name__73': 'Transferencias De Capital', 'code__74': 2231, 'description__74': None, 'name__74': 'Transferencias De Capital por Aporte Fiscal', 'code__75': 2232, 'description__75': None, 'name__75': 'Transferencias de Capital al Sector Publico', 'code__76': 2233, 'description__76': None, 'name__76': 'Transferencias de Capital al Sector Privado', 'code__77': 2234, 'description__77': None, 'name__77': 'Otras Transferencias de Capital', 'code__78': 224, 'description__78': 'Comprende los desembolsos realizados en inversiones originadas en las colocaciones de fondos, derechos o valores.', 'name__78': 'Inversiones Financieras', 'code__79': 2241, 'description__79': None, 'name__79': 'Inversiones en Títulos y Valores', 'code__80': 2242, 'description__80': None, 'name__80': 'Préstamos', 'code__81': 23, 'description__81': 'Las aplicaciones financieras están constituidas por la amortización del endeudamiento que realizan los entes públicos. Dicha amortización incluye el rescate de títulos, valores y empréstitos internos o externos.', 'name__81': 'Aplicaciones Financieras', 'code__82': 231, 'description__82': None, 'name__82': 'Amortización Endeudamiento Público', 'code__83': 2311, 'description__83': None, 'name__83': 'Rescate de Colocaciones de Títulos y Valores en el Mercado Nacional', 'code__84': 2312, 'description__84': None, 'name__84': 'Rescate de Colocaciones de Títulos y Valores en el Mercado Externo', 'code__85': 2313, 'description__85': None, 'name__85': 'Amortización de Empréstitos Internos', 'code__86': 2314, 'description__86': None, 'name__86': 'Amortización de Empréstitos Externos', 'code__87': 24, 'description__87': 'Esta categoría comprende los gastos que se destinan para el financiamiento de actividades de beneficio público.', 'name__87': 'Gastos de Contribuciones Especiales', 'code__88': 241, 'description__88': None, 'name__88': 'Transferencias de Contribuciones Especiales'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

### CLASIFICADOR PRESUPUESTARRIO

In [24]:
budget_clasification = asignar_budget_level_type(budget_clasification, 'budget_level_type_id')
budget_clasification = calcular_cuenta_padre(budget_clasification, 'budget')

In [25]:
budget_clasification.head(210)

,code,name,description,budget_level_type_id,id_temporal,longitud,parent_id
0,11,IMPUESTOS,Incluye los ingresos originados en la potestad...,1,1,2,0
1,111,Impuesto Sobre la Renta,Comprende los tributos provenientes de...,2,2,3,1
2,11101,De Personas Naturales Asalariadas,Comprende el impuesto sobre los ingresos obten...,3,3,5,2
3,11102,De personas Naturales no Asalariadas,Comprende el impuesto sobre los ingresos obten...,3,4,5,2
4,11103,De Personas Jurídicas,Comprende el impuesto sobre el producto o util...,3,5,5,2
...,...,...,...,...,...,...,...
205,1623110,Instituto Crecer Juntos,NaN,3,206,7,198
206,1623200,Ramo de Salud,NaN,3,207,7,157
207,1623201,Hospital Nacional Rosales,NaN,3,208,7,207
208,1623202,Hospital Nacional “Benjamín Bloom”,NaN,3,209,7,207
209,1623203,Hospital Nacional de la Mujer “Doctora María I...,NaN,3,210,7,207

In [ ]:
# 1) Rápido: conteo por valor (serie ordenada)
counts = budget_clasification['parent_id'].value_counts()

parent_id
207    43
394    43
0      28
157    28
344    28
       ..
863     1
867     1
865     1
878     1
880     1
Name: count, Length: 147, dtype: int64

## CHART ACCOUNT

In [29]:
##normalizar campos
chart_account = chart_account.rename(columns={
    "CTA_CONT_CENT": "code",
    "CTA_CONT_CENT_PADR": "parent_code",
    "CLAS_PRES_INGR": "budget_income",
    "CLAS_PRES_EGRE": "budget_expense",
})

# Reemplazar NAs y asegurar conversión numérica segura
chart_account['parent_code'] = pd.to_numeric(chart_account['parent_code'], errors='coerce').fillna(0).astype(int)
chart_account['budget_income'] = pd.to_numeric(chart_account['budget_income'], errors='coerce').fillna(0).astype(int)
chart_account['budget_expense'] = pd.to_numeric(chart_account['budget_expense'], errors='coerce').fillna(0).astype(int)

chart_account = calcular_cuenta_padre(chart_account, 'chart_account')
# Crear un diccionario de código → id_temporal
code_to_id = dict(zip(budget_clasification['code'], budget_clasification['id_temporal']))

# Crear la nueva columna en chart_account
chart_account['budget_income_id_temporal'] = chart_account['budget_income'].map(code_to_id)
chart_account['budget_expense_id_temporal'] = chart_account['budget_expense'].map(code_to_id)

chart_account = convertir_int(chart_account, "budget_income_id_temporal")
chart_account = convertir_int(chart_account, "budget_expense_id_temporal")


chart_account.head()

,code,parent_code,budget_income,budget_expense,COD_INS_CAR_TRA,NOMB_CTA_CONT_CENT,TIPO_CUEN_CONT,NATURA_SALDO,TIENE_SUBCTA,NIVEL,TIPO_EJEC_PTO_INGR,TIPO_EJEC_PTO_EGRE,TIP_FLU_FDO_DEB,TIP_FLU_FDO_HAB,id_temporal,longitud,parent_id,budget_income_id_temporal,budget_expense_id_temporal
0,2,0,0,0,NaN,Recursos,A,D,N,1,0,0,0,0,1,1,0,0,0
1,21,2,0,0,NaN,Fondos,A,D,S,2,0,0,0,0,2,2,1,0,0
2,211,21,0,0,NaN,Disponibilidades,A,D,S,3,0,0,0,0,3,3,2,0,0
3,21101,211,0,0,NaN,Caja General,A,D,S,4,0,0,7,7,4,5,3,0,0
4,21101001,21101,0,0,NaN,Caja General,A,D,N,5,0,0,7,7,5,8,4,0,0

In [30]:
chart_account.to_csv('chart_account_processed.csv',index=False, encoding='utf-8')
chart_account.head(100)

,code,parent_code,budget_income,budget_expense,COD_INS_CAR_TRA,NOMB_CTA_CONT_CENT,TIPO_CUEN_CONT,NATURA_SALDO,TIENE_SUBCTA,NIVEL,TIPO_EJEC_PTO_INGR,TIPO_EJEC_PTO_EGRE,TIP_FLU_FDO_DEB,TIP_FLU_FDO_HAB,id_temporal,longitud,parent_id,budget_income_id_temporal,budget_expense_id_temporal
0,2,0,0,0,NaN,Recursos,A,D,N,1,0,0,0,0,1,1,0,0,0
1,21,2,0,0,NaN,Fondos,A,D,S,2,0,0,0,0,2,2,1,0,0
2,211,21,0,0,NaN,Disponibilidades,A,D,S,3,0,0,0,0,3,3,2,0,0
3,21101,211,0,0,NaN,Caja General,A,D,S,4,0,0,7,7,4,5,3,0,0
4,21101001,21101,0,0,NaN,Caja General,A,D,N,5,0,0,7,7,5,8,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,21213827,21213,0,0,702.0,Instituto Nacional de Pensiones de los Emplead...,A,D,N,5,0,0,6,3,96,8,74,0,0
96,21213828,21213,0,0,704.0,Fondo Salvadoreño para Estudios de Preinversió...,A,D,N,5,0,0,6,3,97,8,74,0,0
97,21213830,21213,0,0,800.0,Ministerio de Relaciones Exteriores,A,D,N,5,0,0,6,3,98,8,74,0,0
98,21213831,21213,0,0,NaN,Secretaría Externa de Financiamiento Externo (...,A,D,N,5,0,0,6,3,99,8,74,0,0
99,21213833,21213,0,0,2000.0,Ministerio del Interior,A,D,N,5,0,0,6,3,100,8,74,0,0